<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>PlantApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>PlantApp uses the camera to identify plants.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>NSMicrophoneUsageDescription</key>
	<string>PlantApp uses the microphone to convert your voice into plant searches.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>PlantApp uses speech recognition to fill your plant search.</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>SF-Pro-Text-UltralightItalic.otf</string>
		<string>SF-Pro-Text-Heavy.otf</string>
		<string>SF-Pro-Text-MediumItalic.otf</string>
		<string>SF-Pro-Text-Light.otf</string>
		<string>SF-Pro-Text-BlackItalic.otf</string>
		<string>SF-Pro-Text-Black.otf</string>
		<string>SF-Pro-Text-Regular.otf</string>
		<string>SF-Pro-Text-Ultralight.otf</string>
		<string>SF-Pro-Text-Bold.otf</string>
		<string>SF-Pro-Text-Thin.otf</string>
		<string>SF-Pro-Text-ThinItalic.otf</string>
		<string>SF-Pro-Text-BoldItalic.otf</string>
		<string>SF-Pro-Text-RegularItalic.otf</string>
		<string>SF-Pro-Text-Semibold.otf</string>
		<string>SF-Pro-Text-HeavyItalic.otf</string>
		<string>SF-Pro-Text-LightItalic.otf</string>
		<string>SF-Pro-Text-Medium.otf</string>
		<string>SF-Pro-Text-SemiboldItalic.otf</string>
		<string>Rubik-MediumItalic.ttf</string>
		<string>Rubik-Bold.ttf</string>
		<string>Rubik-SemiBoldItalic.ttf</string>
		<string>Rubik-Light.ttf</string>
		<string>Rubik-Medium.ttf</string>
		<string>Rubik-ExtraBoldItalic.ttf</string>
		<string>Rubik-Black.ttf</string>
		<string>Rubik-Italic.ttf</string>
		<string>Rubik-LightItalic.ttf</string>
		<string>Rubik-SemiBold.ttf</string>
		<string>Rubik-BlackItalic.ttf</string>
		<string>Rubik-ExtraBold.ttf</string>
		<string>Rubik-Regular.ttf</string>
		<string>Rubik-BoldItalic.ttf</string>
	</array>
</dict>
</plist>
